@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto&display=swap');

body {
    font-family: Outfit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    flex-direction: column;
    border-radius: 10px;
    background-color:  hsl(212, 45%, 89%);
}

.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 20px 20px rgba(212, 212, 212, 0);
    width: 250px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    border-radius: 10px;
    width: 100%;
    height: 50%;
    text-align: center;
}

.p1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.p-price{
    margin-bottom: 0;
}

.p2 {
    font-size: 14px;
    /* line-height: 1.5; */
    text-align: center;
    padding: 5px;
    color: darkgray;
}
.p2 p {
    margin-top: 0;
}